<div class="profile_pictute">
  <%= form.label :profile_picture, "Upload Profile Picture" %>
  <%= form.file_field :profile_picture %>
</div>

<div class="avatar_image">
  <%= form.label :avatar_image, "Upload Avatar Image" %>
  <%= form.file_field :avatar_image %>
</div>
