<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brenda Rop's Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  </div>
  <div class="home-container">
    <div class="content">
      <h1>Hi there &#128075;I'm </h1>
      <h2>Brenda Rop</h2>
      <p class=" larger-paragraph"> A Software Engineer.</p>
      <p class = "smaller-paraghraph">I'm passionate about turning ideas into real-life products.</p>
      <a href="/contact" class="contact-button">Contact Me!</a>
    </div>
    </div>
</body>
</html>
